.App {
  text-align: center;
  display: block;
}

header {
  height: 40px;
  width: 100%;
  background: rgba(99, 32, 238, 1);
  color: white;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 0 10px;
  box-sizing: border-box;
}

.logo {
  margin-right: 10px;
  font-size: 21px;
}

.load-button {
  margin: 20px;
  border: 6px solid currentColor;
  border-radius: 35px;
  padding: 10px 20px;
  background: transparent;
  font-size: 30px;
  font-weight: 600;
  color: #6321ee;
  cursor: pointer;
}

.load-button:hover {
  background: #6321ee24;
}

.panel {
  height: calc(100vh - 40px);
  display: flex;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.volumetric {
  height: 100%;
  flex: 1;
  box-sizing: border-box;
}

.sidemenu {
  --color-background: rgba(0, 0, 0, 1);
  --color-background-contrast: rgba(255, 255, 255, 1);

  --color-middle: rgba(40, 38, 44, 1);
  --color-middle-contrast: rgba(255, 255, 255, 1);

  background: #00000073;
  width: 195px;
  color: white;
  padding: 40px 5px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(20px) saturate(2.5);
}

.colormap::part(colormap) {
  border-radius: 3px;
}

select {
  margin-left: 20px;
  border-radius: 5px;
}

.top-menu {
  flex: 1;
  text-align: right;
}

a {
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 20px;
}

a:hover {
  background: #3907a5;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 900px) {
  .sidemenu {
    display: none;
  }
}
